<div class= "statBox">

        </ul>
       <p class= "sectionTitle"> Multiplayer </p>
       <ul class= "stats">

              <li class "category"> Prestige: </li>
              <img src="../../image/prestige.png" class="result-pic">
              <li class= "data"> {{prestige}} </li>

       </ul>
       <ul class= "stats">

              <li class "category"> Level: </li>
              <img src="../../image/level.png" class="result-pic">
              <li class= "data"> {{level}} </li>

       </ul>
       <ul class= "stats">

              <li class "category"> Wins: </li>
              <img src="../../image/win.png" class="result-pic">
              <li class= "data"> {{winCount}} </li>

       </ul>

       <ul class= "stats">
              <li class "category"> Losses: </li>
              <img src="../../image/loss.png" class="result-pic">
              <li class= "data"> {{lossCount}} </li>
       </ul>

       <ul class= "stats">
            <li class "category"> Win Percentage: </li>
            <img src="../../image/percentage.png" class="result-pic">
            <li class= "data"> {{winPercentage}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">Games Played: </li>
              <img src="../../image/played.png" class="result-pic">
              <li class= "data"> {{playedCount}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">Time Played: </li>
              <img src="../../image/time.png" class="result-pic">
              <li class= "data"> {{timeCount}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">Kills: </li>
              <img src="../../image/elimination.jpg" class="result-pic">
              <li class= "data"> {{killCount}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">Death: </li>
              <img src="../../image/damage.png" class="result-pic">
              <li class= "data"> {{deathCount}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">KD Ratio: </li>
              <img src="../../image/ratio.png" class="result-pic">
              <li class= "data"> {{kdRatio}} </li>
       </ul>
       <ul class= "stats">
              <li class "category">Headshots: </li>
              <img src="../../image/headshot.jpg" class="result-pic">
              <li class= "data"> {{headCount}} </li>
       </ul>

       </ul>





</div>
