<div class="statContainer">



       <div class= "statBox">

               </ul>
              <p class= "sectionTitle"> Competitive </p>
              <ul class= "stats">

                     <li class "category"> Wins: </li>
                     <img src="../../image/win.png" class="result-pic">
                     <li class= "data"> {{winCount}} </li>

              </ul>

              <ul class= "stats">
                     <li class "category"> Losses: </li>
                     <img src="../../image/loss.png" class="result-pic">
                     <li class= "data"> {{lossCount}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category"> Draws: </li>
                     <img src="../../image/draw.png" class="result-pic">
                     <li class= "data"> {{drawCount}} </li>
              </ul>
              <ul class= "stats">
                   <li class "category"> Win Percentage: </li>
                   <img src="../../image/percentage.png" class="result-pic">
                   <li class= "data"> {{winPercentage}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Games Played: </li>
                     <img src="../../image/played.png" class="result-pic">
                     <li class= "data"> {{playedCount}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Time Played: </li>
                     <img src="../../image/time.png" class="result-pic">
                     <li class= "data"> {{timeCount}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Solo Eliminations: </li>
                     <img src="../../image/elimination.jpg" class="result-pic">
                     <li class= "data"> {{soloElimination}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Total Damage: </li>
                     <img src="../../image/damage.png" class="result-pic">
                     <li class= "data"> {{totalDamage}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Gold Medals: </li>
                     <img src="../../image/gold.png" class="result-pic">
                     <li class= "data"> {{goldMedal}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Silver Medals: </li>
                     <img src="../../image/silver.png" class="result-pic">
                     <li class= "data"> {{silverMedal}} </li>
              </ul>
              <ul class= "stats">
                     <li class "category">Bronze Medals: </li>
                     <img src="../../image/bronze.png" class="result-pic">
                     <li class= "data"> {{bronzeMedal}} </li>
              </ul>





       </div>
</div>
