<div class= "miniPlayer">
     <div class= "miniProfilePicBox">
           <img class = "profilePic" src={{profile.avatar}} alt={{profile.nick}} height="50px">
     </div>
     <div class= "miniProfileUser">
           <p class= " miniUsername"><a href="../../Overwatch/result/{{profile.nick}}#{{blizID}}">  {{profile.nick}}  </a></p>
           <p class= " miniBlizID"> #{{blizID}}  </p>
      </div>
      <div class= "miniRankBox">
             <p class= "miniSkillRating"> {{profile.rank}} </p>
             <p class= "miniSr"> SR </p>
      </div>
 </div>
