<div class= "playerBox">

       <div class= "profilePicBox">
              <img class = "profilePic" src="{{profilePic}}" alt="JayBreak" height="100px">
       </div>
       <div class= "profileUser">
              <p class= "profileElementList username"> {{username}}  </p>
              <p class= "profileElementList blizID"> #{{blizID}}  </p>
       </div>
       <div class= "rankBox">
              <p class= "profileElementList skillRating"> {{skillRating}} </p>
              <p class= "profileElementList sr"> SR </p>

              <img class= "rankPic" src="{{rankPic}}" alt="Rank" height="100px">
       </div>
</div>
